<p id="notice"><%= notice %></p>

<h1><%= current_user.name unless !current_user %>
</h1>

<!-- here we must verify if the user sessions exists and show this table if it does -->



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>


    <% @images.each do |image| %>
      <tr>
        <td>
          <%= image_tag("#{image.name}")%>
        </td>
        <td>
          <%= image.description%>
        </td>

      <% if current_user %>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New Image', new_image_path %></td>
      </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
<!-- here we must verify if the user sessions exists and show this table if it does -->

<br>
