<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name%>
  <%= image_tag "#{@image.name}" , :style => "width:40px;" %>

</p>

<p>
  <strong>Description</strong>
  <%= @image.description%>

</p>

<p>
  <strong>User</strong>
  <%= @image.user.name%>

</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
